@import "tailwindcss";



:root {
  --background:#ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
} */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-iceland: var(--font-iceland);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #856d6d;
    --foreground: #ffffff;
  }
}
.nav-icon {
  width: 1.5.. rem;
  height: 1.5rem;
  color: red;
  cursor: pointer;
}

.nav-icon-lg {
  width: 2rem;
  height: 2rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, ;
  font-family: var(--font-iceland), Arial, Helvetica, sans-serif;
  /* padding-left: 2rem */
}
.toast {
  position: fixed;
  top: 35px;
  right: -320px;
  background: #1f2937;
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  transition: right 0.4s ease;
  z-index: 9999;
}

.toast.show {
  right: 20px;
}

